<!doctype html>

<html>
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Marlène Boura</title>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  
  <body>
    
    <div class="wrapper">
      
      <header>
        <h1><a href="index.md">Marlène Boura</a></h1>
        <p> [Academic Website] </p>
        <p class="view"><a href="cv.md">Short CV</a></p>
        <p class="view"><a href="research.md">Research</a></p>
        <p class="view"><a href="cohabitat.md">CO-HABITAT project</a></p>
        <p class="view"><a href="other.md">Other</a></p>
      </header>
      
      <section>
      {{ content }}
      </section>
      
      <footer>
        <p><small>Theme inspired by <a href="https://github.com/orderedlist">orderedlist</a>'s
            <a href="https://github.com/orderedlist/minimal">Minimal</a>.
        Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.       
        </small></p>
      </footer>
      
    </div>
    
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
